<div id="wrapper">
  <h1>Mongo Scraper</h1>
  <h2><i>An AllKpop Scraper for all your kpop news.</i></h2>
  <div id="articles"></div>
  <div id="notes"></div>
</div>

<script src="/assets/js/app.js"></script>